.crequest{
    padding: 40px 80px 0px 40px;
    h1 {
        font-size: 24px;
        font-weight: bold;
    }
    p {
        color: darkslategray;
    }
    .btn-primary {
        background-color: #026B5B;
        border: solid 1px #026B5B;
        font-weight: 900;
        width: 150px;
        margin-bottom: 30px;
        .create-text {
            margin-left: 10px;
            display: inline-block !important;
        }
    }
    .table {
        border-radius: 20px;
        thead {
            border-radius: 20px;
            tr {
                th:first-child {
                    border-top-left-radius: 20px;
                }
                th:last-child {
                    border-top-right-radius: 20px;
                }
                th {
                    background-color: #026B5B;
                    color: white;
                    text-align: center;
                    padding: 15px;
                }
            }

        }
        tbody {
            //border-left: solid 1px #D9D9D9;
            //border-bottom: solid 1px #D9D9D9;
            //border-right: solid 1px #D9D9D9;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            td {
                border-bottom-color: #D9D9D9;
                padding: 15px;
            }
            tr {
                td:not(:last-child) {
                    border-right: solid 1px #D9D9D9;
                }
            }
            tr:last-child {
                border-bottom: none;
                td {
                    border-bottom: none;
                }
                td:first-child {
                    border-bottom-left-radius: 20px;
                }
                td:last-child {
                    border-bottom-right-radius: 20px;
                }
            }
        }

    }
    .priority {
        .btn {
            width: 120px;
            border: none;
        }
        .btn-success {
            background-color: #B8EEB7;
            color: #0FA90C;
        }
        .btn-danger {
            background-color: #F1BFB5;
            color: #D12B0A;
        }
        .btn-warning {
            background-color: #F3EFCB;
            color: #AF9D02;
        }
    }
    .approval {
        .btn {
            width: 220px;
            padding: 15px;
            font-weight: 800;
            border-radius: 20px;

        }
        .btn-outline-danger {
            border: 1px solid #026B5B;
            color: #026B5B;
        }
        .btn-success {
            background-color: #026B5B;
            color: #FFFFFF;
        }
    }
    .custom-card {
        border-radius: 20px;
        .custom-body {
            padding: 30px 30px 20px 30px;
        }
    }
    .letter-image {
        width: 50px;
        height: 50px;
        border-radius: 40px;
        //border: solid 1px #000000;
        font-size: 30px;
        padding-top: 1px;
        color: #FFFFFF;
        background-color: #F7BF11;
    }

}
.form-group {
    padding-bottom: 10px;
}

